#create-container {
    height: 91%;
    display:flex;
    position: relative;
}

#create-sidebar{
    padding: 10px;
    padding-right: 5px;
    border-right: solid #999999 1px;
    min-width: 300px;
    height: 100%;
    background-color: #FEFEFE;
    box-sizing: border-box;
}

#map-container {
    width: 100%;
    height: 100%;
}

#create-sidebar input[type="submit"] {
    padding: 0;
    border-radius: 3px;
    width: 90px;
    height: 30px;
    font-size: 12px;
    font-weight: 800;
    font-family: 'Ariel', sans-serif;
    color: white;
    border: none;
    background-color: #B4B3B3;
    box-shadow: #B4B3B3 0px 2px 5px;
    margin: 5px;
}

#create-sidebar input{
    background: white;
    border-radius: 5px;
    border: solid 1px #D3D6DC;
    height: 10px;
    /* margin: 12px 0; */
    padding: 10px 0 10px 15px;
    font-size: 14px;
    width: 166px;
}

#route-input input {
     width: 246px;
     margin: 6px 0;
}

#route-input textarea {
    margin: 6px 0;
    background: white;
    border-radius: 5px;
    border: solid 1px #D3D6DC;
    /* margin: 12px 0; */
    padding: 10px 0 10px 15px;
    font-size: 14px;
    resize: none;
}

.loading {
    background-color: rgb(228, 228, 228);
    z-index: 5;
}

#loadScreen{
    /* position: absolute;
    background-color: #B4B3B3;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -100; */
    width: 100%;
    height: 100%;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loadScreen h3{
    font-family: 'Roboto', sans-serif;
    font-size: 62px;
    color: salmon;
    letter-spacing: 8px;
}

#loadScreen img{
    transition-duration: 0.3s;
    animation-direction: alternate;
    transition: transform 1s ease-in-out;
    width: 300px;
    animation: bobble 1.5s;
    animation-iteration-count: infinite;

}

#create-container h4 {
    font-size: 16px;
    color:#555555;
    font-weight: 900;
    font-family: 'Ariel', sans-serif;
    margin: 15px 0;
}

#create-container hr{
    border: solid .5px #D3D6DC;
}

.map-location{
    margin-bottom: 20px;
    border-bottom: 1 solid gray;
}

#create-sidebar #saveTourButton {
    background-color: #FF9020;
    width: 135px;
}

#create-sidebar span {
    color: red;
    font-size: 18px;
    font-weight: 800;
}

.mapTools{
    height: 235px;
    width: 170px;
    background-color: white;
    z-index: 101;
    position: absolute;
    top: 125px;
    left: 310px;
    z-index: 99;
    border-radius: 3px;
    border: lightgrey 1px solid;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

#distance-div{
    background-color: rgb(97,97,98, .8);
    height: 40px;
    width: 170px;
    position: absolute;
    margin-bottom: 100px;
    top:-40px;
    padding: 4px;
    box-sizing: border-box; 
    border-radius: 4px 4px 0 0; 
}
#distance-div h2{
    font-family: 'Open San', sans-serif;
    font-size: 11px;
    color: #E3E3E3;
}

#distance-div h3{
    font-family: 'condensed Roboto', sans-serif;
    font-weight: 800;
    font-size: 22px;
    color: white;
    text-shadow: 2px 2px black;
    text-align: left;
}


.mapTools ul{
    /* background-color: red; */
    padding: 7px 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rodentIcons{
    width: 30px;
    height: 30px;
    padding: 3px;
    background-color: #D3D6DC;
    border-radius: 5px;
    margin: 4px;
    transition: all .2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.rodentIcons:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.selectedIcon{
    background-color: rgb(132, 211, 238);
}

.mapTools h3 {
    text-align: center;
    margin:0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.mapTools h5 {
    text-align: center;
    margin-top: 3px;
    font-size: 9px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.toolButtonHolder button{
    background-color: #D3D6DC;
    border-radius: 4px;
    width: 66px;
    height: 38px;
    display: inline-block;
    font-size: 8px;
    font-family: 'Roboto', sans-serif;
    color: black;
    border: none;
    margin: 4px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all .2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.toolButtonHolder button:hover {
    transform: scale(1.1);
}

.toolButtonHolder button img {
    width:15px;
    height: 15px;
    padding: 5px;
}

.toolButtonHolder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dance {
  animation: shake 1.5s;
  animation-iteration-count: infinite;
  background-color: yellow;
  border: 5px solid yellow;
}

.danceTools {
  animation: shake 1.5s;
  animation-iteration-count: infinite;
  background-color: yellow;
}

marquee{
    display: block;
    position: absolute;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
    
}

marquee img{
    height: 220px
}

.show {
    opacity: 1.0;
}


@keyframes shake {
  0% { background-color: red; border-color: red;}
  10% { color: red; }
  20% { background-color: purple; border-color: purple;}
  30% { color: purple;}
  40% { background-color: yellowgreen; border-color: yellowgreen;}
  50% { color: yellowgreen;}
  60% { background-color: yellow; border-color: yellow;}
  70% { color: yellow;}
  80% { background-color: orange; border-color: orange;}
  90% {  color: orange;}
  100% { background-color: blue; border-color: blue;}
}

@keyframes bobble {
  0% { transform: translateY(2px); transform: rotate(-2deg); }

  30% { transform: translateX(2px); transform: rotate(2deg); }

  60% { transform: translateY(-2px); transform: rotate(-2deg); }

  100% { transform: translateX(-2px); transform: rotate(2deg); }

}
